@model KoalaBlog.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />
    @Html.ValidationSummary()
    
    <div>
        @Html.HiddenFor(x => x.Email)
        @Html.HiddenFor(x => x.Code)
    </div>
    
    <div>
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password)
    </div>

    <div>
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword)
    </div>
    
    <div>
        <input type="submit" value="修改" />
    </div>
}